<<<<<<< HEAD
*{
  margin:0;
  padding:0;
}
=======
>>>>>>> 4fe5c880f8b90405739dd8cbb55b39bc08efaeec
.slider img,
.card-image {
  height: 450px;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}
<<<<<<< HEAD

.header-nav{
  background-color: aqua;
}

/* .body{
  margin-top:20px;
} */
=======
>>>>>>> 4fe5c880f8b90405739dd8cbb55b39bc08efaeec
